name = "secure-shop-worker"
main = "worker.js"
compatibility_date = "2025-12-06"

[assets]
directory = "."
binding = "ASSETS"

[[d1_databases]]
binding = "DB"
database_name = "secure-shop-db"

[[r2_buckets]]
binding = "PRODUCT_MEDIA"
bucket_name = "product-media-bucket"
